.contenedor {
  width: 50px;
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.centrado {
  color: #f9f9f9;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
